DATABASE_URL=
JWT_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

AI_API_URL=
MAIL_SENDER_NAME_DEFAULT=
MAIL_SENDER_DEFAULT=